<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}</title>
    <link rel="styleSheet" href="/static/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %} <script src="index.js"></script> {% endcomment %}
  </head>
  <body>
    {% if role != "admin" %}
      {% include "components/_header.html" %}
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
  <script src="/static/js/app.js"></script>
</html> 