{% extends "base.html" %}

{% block content %}
<section id="bf">
    <div id="bf-behind">

    </div>
    <div id="bf-forward">
        <h1>Book Flight</h1>
        <form action="{% url "FlightBooking" %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div>
                    <input type="text" name="pname" id="pname">
                    <label for="pname" id="pnameLabel">Passenger Name</label>
                </div>

                <div>
                    <input type="text" name="passNum" id="passNum">
                    <label for="passNum" id="passNumLabel">Passport#</label>
                </div>

                <div>
                    <input type="text" name="cnicNum" id="cnicNum">
                    <label for="cnicNum" id="cnicNumLabel">CNIC#</label>
                </div>
            </div>

            <div class="row">
                <div>
                    <select name="from" id="fSelect">
                        <option value="" selected disabled hidden></option>
                        {% for city in cities %}
                            <option value="{{ city.City }}">{{ city.City }}</option>           
                        {% endfor %}
                    </select>
                    <label for="from" id="flabel">From</label>
                </div>

                <i class="fa fa-exchange" aria-hidden="true" id="exchangeIco" class="exchangeIco"></i>

                <div>
                    <select name="to" id="tSelect">
                        <option value="" selected disabled hidden></option>
                        {% for city in cities %}
                            <option value="{{ city.City }}">{{ city.City }}</option>           
                        {% endfor %}
                    </select>   
                    <label for="to" id="tlabel">To</label>
                </div>
                
                <div id="date">
                    <input type="date" name="departure" id="departure">
                    <label for="departure" id="departure">Departure</label>
                </div>
            </div>
            <input type="submit" name="bookBtn" id="bookBtn" class="btn" value="Book Now">
            {% if message != null %}
                <p id="succMessage">{{ message }}</p>
            {% else %}
                <p id="errMessage">{{ message }}</p>
            {% endif %}
        </form> 
    </div>
</section>
{% endblock %}