{% extends "base.html" %}

{% block content %}
    <section id="home">
        <div id="home-left">
            <h1><span>Affordable Flights</span></h1>
            <h2>with our friendly flight reservation system</h2>

            <a href="book.html" class="btn">Book a Flight</a>
        </div>
        <div id="home-right">
            <img src="/static/imgs/plane.png" alt="plane image here" id="planeImg">
            <div id="blob">
                <img src="/static/imgs/globe.gif" alt="">
            </div>
        </div>
    </section>
{% endblock %}