{% extends "base.html" %}

{% block content %}
<section id="flsrc">
    <div id="flsrc-behind">

    </div>
    <div id="flsrc-forward">
        <h1>My Bookings</h1>
        <table>
            <thead>
                <tr>
                    {% comment %} <th>ID</th>
                    <th>Flight No</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Booking Time</th>
                    <th>Status</th>
                    <th>Action</th> {% endcomment %}
                    <th>ID</th>
                    <th>Passenger Name</th>
                    <th>Passport #</th>
                    <th>CNIC #</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Booking Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.Passenger_Name }}</td>
                        <td>{{ booking.Passport_Number }}</td>
                        <td>{{ booking.CNIC }}</td>
                        <td>{{ booking.From }}</td>
                        <td>{{ booking.To }}</td>
                        <td>{{ booking.Departure }}</td>
                        <td>{{ booking.Booking_Time }}</td>
                        <td><a href="">Cancel?</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}