{% extends "base.html" %}

{% block content %}
<section id="panel">
    {% include "components/_sidebar.html" %}
    <div id="main-panel">
        <div class="sub-panels" id="header">
            {% if header %}
                <h1>{{ header }}</h1>
                {% else %}
                    <h1>Welcome to the PIA {{ name }}</h1>
            {% endif %}
        </div>
        <div id="dashboard">
            {% if component == "dashboard" %}
                {% include "panels/_memberArea.html" %}
                {% include "panels/_flightArea.html" %}
            {% elif component == "NewStaff" %}
                {% include "panels/_newStaff.html" %}
            {% elif component == "ManageStaff" %}
                {% include "panels/_manageStaff.html" %}
            {% elif component == "Update Staff Details" %}
                {% include "panels/_updateStaff.html" %}
            {% elif component == "NewFlights" %}
                {% include "panels/_newFlights.html" %}
            {% elif component == "UpdateFlights" or component == "UpdateFlight" %}
                {% include "panels/_updateFlights.html" %}
            {% endif %}
        </div>
        <div class="sub-panels" id="timepanel">
            <h4>{{ time }}</h4>
        </div>
    </div>
</section>
{% endblock %}