* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}


.row div {
    width: 100%;
}

.inner-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.btn {
    font-size: 1.3rem;
    padding: 10px 35px;
    color: #FFFFFF;
    background-color: #0254B0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.btn2, .btn3 {
    font-size: 1.2rem;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #0254B0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.btn2 {
    background-color: #0254B0;
}

.btn3 {
    background-color: #ff0000;
}


.btn:hover, .btn2:hover, .btn3:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}


a {
    text-decoration: none;
}

header {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #0254B0;
    padding: 15px 200px;
    position: fixed;
    z-index: 10;
    animation: showHead 0.2s ease-in-out 0.1s forwards;
}

/* Animations  */

@keyframes show1 {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes show2 {
    100% {
        opacity: 1;
    }
}

@keyframes showHead {
    100% {
        opacity: 1;
    }
}

header a {
    color: #FFFFFF;
}

header img {
    width: 5%;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0px 20px;
}

header div a {
    margin: 0px 15px;
}

header div a:last-child {
    border: 2px solid #FFFFFF;
    padding: 5px 25px;
    border-radius: 50px;
}

header div a span {
    font-weight: 600;
}

main #home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    height: 100vh;
    overflow: hidden;
}

main section #home-left {
    width: 50%;
    opacity: 0;
    animation: showLeftHome 0.5s ease-in-out 0.1s forwards;
}

@keyframes showLeftHome {
    100% {
        opacity: 1;
    }
}

main section #home-left h1 {
    font-size: 3.5rem;
}

main section #home-left h1 span {
    color: #0254B0;
}

main section #home-left h2 {
    width: 90%;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

main section #home-right {
    width: 50%;
    position: relative;
}


main section #home-right #blob {
    height: 950px;
    width: 950px;
    /* background-color: aquamarine; */
    position: absolute;
    border-radius: 54% 79% 75% 58% / 70% 56% 71% 47%;
    right: -300px;
    top: -280px;
    z-index: -1;
}

main section #home-right #blob img {
    width: 100%;
    filter: drop-shadow(0px 0px 50px rgb(2, 84, 176, 0.5));
    opacity: 0;
    animation: show 0.2s linear 0.3s forwards;
}

main section #home-right #planeImg {
    opacity: 0;
    position: absolute;
    right: -500px;
    top: -100px;
    z-index: 1;
    transform: scale(0.8);
    transition: .2s ease-in-out;
    animation: planeMove 1s 0.2s forwards;
}

@keyframes planeMove {
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: -200px;
        top: -250px;
        transform: scale(1);
    }
}

#account {
    background-image: url('/static/imgs/loginBG.png');
    overflow: hidden;
}

#account #overlay {
    position: relative;
    overflow: hidden;
}

#account #overlay #left {
    width: 100%;
    height: 100vh;
    left: 0;
    top: -15%;
    position: absolute;
}

#account #overlay #left img {
    width: 100%;
}

#account #overlay #right {
    opacity: 0;
    width: 25%;
    position: absolute;
    right: -5%;
    transform: scale(0.5);
    animation: showLeft 0.2s linear 0.1s forwards;
}

@keyframes showLeft {
    100% {
        transform: scale(1);
        opacity: 1;
        right: 5%;
    }
}

#account #overlay {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 200px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.9);    
    transition: all .2s ease-in-out;
}

.bg-blur {
    width: 75%;
    background-image: url('/static/imgs/loginBG.png');
    background-size: fill;
    background-position: -1200px -250px;
    border-radius: 20px;
    margin: 0px auto;
}


#account #overlay form {
    margin: 0px auto;
    
    border-radius: 20px;
    color: #FFFFFF;
    
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.9);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#account #overlay form h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;

}

#account #overlay form label {
    font-size: 1.4rem;
}

#account #overlay form input {
    font-size: 1.3rem;
    padding: 5px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;    
    margin: 5px 0px;
}

#account #overlay form p {
    text-align: center;
}

#account #overlay form #terms {
    text-align: center;
    font-size: 0.7rem;
}

#account #overlay form #message {
    text-align: center;
    font-size: 0.9rem;
}

#account #overlay form #errMessage {
    color: red;
    text-align: center;
    font-size: 0.9rem;
}

#account #overlay form #succMessage {
    color: #0254B0;
    text-align: center;
    font-size: 1.2rem;

    margin-top: 20px;

}

#account #overlay form p a {
    color: #FFFFFF;
    text-decoration: underline;
}

#account #overlay form input[type=submit] {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    margin-top: 10px;
    color: #FFFFFF;
    width: 30%;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
}

#account img {
    width: 98%;
}

#sgFrm {
    display: none;
}

main #tf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    height: 100vh;
}

#tf #tf-behind {
    width: 200%;
    height: 50%;
    position: fixed;
    left: -50%;
    top: 0;
    border-radius: 50%;
    z-index: -1;
    background-image: url('/static/imgs/tfBG.png');
    background-size: 55%;
    background-position: 950px -550px;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.75);
    opacity: 0;
    animation: show 0.3s ease-in-out 0.3s forwards;
}

#tf #tf-forward {
    opacity: 0;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0px 8.5px 21px rgb(0, 0, 0, 0.5);
    padding: 40px;
    animation: showtf 0.5s ease-in-out 0.6s forwards;
    /* border: 1px solid #000000;  */
}

@keyframes showtf {
    100% {
        opacity: 1;
    }
}
#tf #tf-forward h1 {
    font-size: 4rem;
    color: #0254B0;
}

#card-area {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
}

.card {
    color: #777777;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
    margin: 50px 25px;
    position: relative;

    transition: all 0.2s ease-in-out;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
    width: 18%;
    height: 150px;
    transition: all 0.2s ease-in-out;
}

#card1:hover img, #card2:hover img, #card3:hover img, #card4:hover img, #card5:hover img, #card6:hover img, #card7:hover img, #card8:hover img, #card9:hover img {
    animation: rotateFan 0.5s 0.2s linear infinite;
}

@keyframes rotateFan {
    100% {
        transform: rotate(360deg);
    }
}

.card h2 {
    font-size: 2.2rem;
    color: #0254B0;
}

.card h3 {
    font-size: 1.5rem;
}

.card h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.img-area {
    width: 50%;
    margin: auto;
    margin-top: -33%;
}

.img-area img {
    width: 100%;
    animation: fan-rotate 1s 0.2s forwards;
}

@keyframes fan-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.card .more-info {
    opacity: 0;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    transition: opacity 0.2s ease-in-out;
}

main #flsrc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    height: 100vh;
}

#flsrc #flsrc-behind {
    width: 200%;
    height: 50%;
    position: fixed;
    left: -50%;
    top: 0;
    border-radius: 50%;
    z-index: -1;
    background-image: url('/static/imgs/bookBG.png');
    background-size: 50%;
    background-position: 950px -150px;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.75);
    opacity: 0;
    animation: show 0.3s ease-in-out 0.3s forwards;
}

#flsrc #flsrc-forward {
    opacity: 0;
    margin-top: 5%;
    text-align: center;
    /* width: 100%; */
    background-color: rgb(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 8.5px 21px rgb(0, 0, 0, 0.5);
    padding: 40px;
    animation: showflsrc 0.5s ease-in-out 0.6s forwards;
    margin: 0 auto;
    /* border: 1px solid #000000;  */
}

@keyframes showflsrc {
    100% {
        opacity: 1;
    }
}

#flsrc #flsrc-forward h1 {
    font-size: 4rem;
    color: #0254B0;
}

#flsrc #flsrc-forward i {
    z-index: 2;
    font-size: 1.2rem;
    color: #BABABA;
    background-color: #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 100%;
    padding: 10px;
    margin: 0px -10px;
    cursor: pointer;
}
#flsrc #flsrc-forward form {
    margin: 0px auto;
    margin-top: 20px;
}

#flsrc #flsrc-forward #inner-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:80%; */
    margin: auto;
}

#inner-form select {
    /* width: 60%; */
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    background-color: transparent;
    margin: 0px 0px;
    z-index: 1;
    appearance: none;
}

#inner-form select::-ms-expand {
    display: none;
}

#inner-form input[type=date] {
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    background-color: transparent;
    margin-left: 20px;
    z-index: 1;
}


#inner-form select option {
    background-color: none;
    padding: 50px 5px;
}

#inner-form #to, #inner-form #from {
    position: relative;
}

#inner-form label {
    z-index: 0;
    font-size: 1.2rem;
    position: absolute;
    transform: translate(-225px, 22px);
    color: #777777;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

#date label {
    font-size: 0.9rem;
    transform: translate(-200px, 8px);
}

#inner-form .form-control:focus + label,
#inner-form .form-control:visited + label {
    font-size: 0.9rem;
    transform: translate(-235px, 8px);    
}

#searchBtn {
    font-size: 1.3rem;
    padding: 10px 35px;
    color: #FFFFFF;
    background-color: #0254B0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
}

#flsrc table {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

#flsrc th, #flsrc td {
    text-align: left;
    font-size: 1.1rem;
    padding: 5px 5px;
}

#flsrc th {
    color: #0254B0;
    font-weight: 800;
    text-align: center;
    
}

#flsrc td {
    color: #000000;
    font-weight: 500;
}

#flsrc td a {
    color: #0254B0;
    font-weight: 600;
    text-decoration: underline;
}

main #bf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    height: 100vh;
}

#bf #bf-behind {
    width: 200%;
    height: 50%;
    position: fixed;
    left: -50%;
    top: 0;
    border-radius: 50%;
    z-index: -1;
    /* background-image: url('../imgs/bookBG.png'); */
    background-image: url('/static/imgs/bookBG.png');
    background-size: 50%;
    background-position: 950px -150px;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.75);
    opacity: 0;
    animation: show 0.3s ease-in-out 0.3s forwards;
}

#bf #bf-forward {
    opacity: 0;
    margin-top: 5%;
    text-align: center;
    /* width: 100%; */
    background-color: rgb(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 8.5px 21px rgb(0, 0, 0, 0.5);
    padding: 40px;
    animation: showbf 0.5s ease-in-out 0.6s forwards;
    margin: 0 auto;
    /* border: 1px solid #000000;  */
}

@keyframes showbf {
    100% {
        opacity: 1;
    }
}

#bf #bf-forward h1 {
    font-size: 4rem;
    color: #0254B0;
}

#bf #bf-forward i {
    z-index: 2;
    font-size: 1.2rem;
    color: #BABABA;
    background-color: #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 100%;
    padding: 10px;
    margin: 0px -10px;
    cursor: pointer;
}
#bf #bf-forward form {
    margin: 0px auto;
    margin-top: 20px;
    width: 100%;
}

#bf #bf-forward form input[type=text], #bf #bf-forward form input[type=number], #bf #bf-forward form input[type=date] {
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    margin: 0px 20px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    background-color: transparent;
    z-index: 1;
}

#bf #bf-forward form input[type=text]:first-of-type {
    margin-left: 0;
}

#bf #bf-forward form label {
    position: absolute;
    left: 0;
    transform: translate(20px, 20px);    
    font-size: 1.1rem;
    color: #777777;
    font-weight: 700;

    transition: 0.2s ease-in-out;
}

#bf #bf-forward form input:focus ~ label {
    transform: translate(10px, 3px);    
    font-size: 0.9rem;
}

#bf #bf-forward form select:focus ~ label {
    transform: translate(10px, 3px);    
    font-size: 0.9rem;
}

#bf #bf-forward form .row #date label:last-child {
    font-size: 0.9rem;
    transform: translate(32px, 9px);
}

#bf #bf-forward form .row div {
    position: relative;
}

#bf #bf-forward form select {
    /* width: 100%; */
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    background-color: transparent;
    margin: 0px 0px;
    z-index: 1;
    appearance: none;
}

#bf #bf-forward form select::-ms-expand {
    display: none;
}


#panel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-image: url('/static/imgs/panelBG.png');
    background-position: 0px -400px;
}

#panel h1 {
    color: #0254B0;
    font-size: 4rem;
}

#panel h2 {
    color: #0254B0;
    font-size: 3rem;
}

#panel h3 {
    font-size: 2rem;
}

#panel h4 {
    font-size: 1.2rem;
}

#panel #sidebar {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 10;
    box-shadow: 5px 2px 15px rgb(0, 0, 0, 0.5);
    border-radius: 0px 15px 15px 0px;
    transform: translateX(-300px);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    opacity: 0;
    animation: show2 1s ease-in-out 0.1s forwards;
}

#panel #timepanel {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateX(500px);
    animation: show1 1s ease-in-out 2s forwards;
}

#panel #timepanel h4 {
    color: #0254B0;
}

/* #panel #sidebar:hover {
    transform: translateX(0px);
} */

#panel #sidebar #sidebar-hidden {
    /* background-color: #0254B0; */
    width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
}

#panel #sidebar #sidebar-hidden h3 {
    color: #0254B0;
    text-align: center;
    padding: 10px 20px;
}

#panel #sidebar #sidebar-hidden nav {
    margin-top: 150px;
}

#panel #sidebar #sidebar-hidden nav ul li {
    font-weight: 600;
    font-size: 1.3rem;
    color: #0254B0;
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid #777777;
}


#panel #sidebar #sidebar-hidden nav ul li:last-child {
    border-bottom: 1px solid #777777;
}

#panel #sidebar #sidebar-hidden nav ul li a {
    color: #0254B0;
}

#panel #sidebar #sidebar-hidden nav ul .heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #777777;
}

#panel #sidebar #sidebar-hidden nav ul .active {
    color: #FFFFFF;
    background-color: #0254B0;
}


#panel #sidebar #sidebar-visible {
    background-color: #0254B0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#panel #sidebar #sidebar-visible i {
    font-size: 2rem;
    color: #FFFFFF;
}

#panel #main-panel {
    position: absolute;
    right: 0;
    /* background-color: red; */
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

#panel #main-panel .sub-panels {
    margin: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
    padding: 20px 50px;
}

#panel #main-panel #header {
    opacity: 0;
    transform: translateX(500px);
    animation: show1 1s ease-in-out 0.8s forwards;
}


#panel #main-panel #dashboard #memberArea {
    opacity: 0;
    /* transform: translateX(500px); */
    animation: show2 0.5s ease-in-out 1.5s forwards;
}

#panel #main-panel #dashboard #flightArea {
    opacity: 0;
    /* transform: translateX(500px); */
    animation: show2 0.5s ease-in-out 2s forwards;
}

#panel #main-panel #dashboard #newStaff {
    opacity: 0;
    animation: show2 0.5s ease-in-out 1.5s forwards;
}

#panel #main-panel #dashboard #manageStaff {
    width: 100%;
    opacity: 0;
    animation: show2 0.5s ease-in-out 1.5s forwards;
}

#panel #main-panel #dashboard {
    display: flex;
}

#panel #main-panel #dashboard .tiles {
    display: flex;
}

#panel #main-panel #dashboard .tiles img {
    width: 60%;
    margin-bottom: 30px;
}

#panel #main-panel #dashboard .tiles .tile1, #panel #main-panel #dashboard .tiles .tile2 {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out;
}

#panel #main-panel #dashboard .tiles .tile1:hover, #panel #main-panel #dashboard .tiles .tile2:hover {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 0.4);
}

#panel #main-panel #dashboard .tiles .tile1 {
    color: #FFFFFF;
    background-color: #0254B0;
}

#panel #main-panel #dashboard .tiles .tile2 {
    color: #0254B0;
    background-color: #dcf1ff;
}

#panel #main-panel #dashboard form input[type=text],
#panel #main-panel #dashboard form input[type=date],
#panel #main-panel #dashboard form input[type=email],
#panel #main-panel #dashboard form input[type=password],
#panel #main-panel #dashboard form input[type=time],
#panel #main-panel #dashboard form select {
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    background-color: transparent;
    margin: 10px 0px;
    z-index: 1;  
}


#panel #main-panel #dashboard form input:hover ~ label,
#panel #main-panel #dashboard form input[type=text]:hover ~ label,
#panel #main-panel #dashboard form input[type=email]:hover ~ label,
#panel #main-panel #dashboard form input[type=password]:hover ~ label,
#panel #main-panel #dashboard form input[type=text]:focus ~ label,
#panel #main-panel #dashboard form input[type=email]:focus ~ label,
#panel #main-panel #dashboard form input[type=password]:focus ~ label,
#panel #main-panel #dashboard form select:hover ~ label {
    font-size: 0.9rem;
    transform: translate(10px, 15px);
}

#panel #main-panel #dashboard form input[type=date] ~ label { 
    font-size: 0.9rem;
    transform: translate(10px, 15px);
}

#panel #main-panel #dashboard .sub-panels .tiles form .row {
    align-items: flex-start;
}

#panel #main-panel #dashboard .sub-panels .tiles form .row .column {
    position: relative;
}

#panel #main-panel #dashboard .sub-panels .tiles form .column #gender {
    outline: none;
    width: 67.5%;
    display: flex;

    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;

    z-index: 1;

    position: relative;
}

#panel #main-panel #dashboard form div #gender input[type=radio] {
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #BABABA;
    margin: 0px 50px;
}

#panel #main-panel #dashboard form div #gender label {

}

#panel #main-panel #dashboard .sub-panels .tiles form label {
    position: absolute;
    left: 0;
    font-size: 1.1rem;
    color: #777777;
    font-weight: 700;
    transform: translate(20px, 30px);
    transition: transform 0.2s ease-in-out;
}

#panel #main-panel #dashboard .sub-panels .tiles form #dobLabel {
    font-size: 0.9rem;
    transform: translate(10px, 15px);
}

#panel #main-panel #dashboard .sub-panels .tiles form #dTimeLabel, 
#panel #main-panel #dashboard .sub-panels .tiles form #aTimeLabel,
#panel #main-panel #dashboard .sub-panels .tiles form #departureLabel {
    font-size: 0.9rem;
    transform: translate(10px, 15px);
}


#panel #main-panel #dashboard .sub-panels .tiles form .btn {
    display: flex;
    align-self: flex-end;
}

#panel #main-panel #dashboard #manageStaff table {
    margin-top: 20px;
    width: 100%;
}

#panel #main-panel #dashboard table th,
#panel #main-panel #dashboard table td {
    font-size: 1.3rem;
    text-align: left;
    padding: 10px 6px;
}

#panel #main-panel #dashboard table th:first-child,
#panel #main-panel #dashboard table td:first-child {
    padding-left: 0px;
}

#panel #main-panel #dashboard table th {
    font-size: 1.4rem;
    color: #0254B0;
    font-weight: 800;
}

#panel #main-panel #dashboard #availableFlights {
    width: 100%;
    opacity: 0;
    animation: show2 0.5s ease-in-out 1.5s forwards;   
}
#panel #main-panel #dashboard #availableFlights .sub-panels {
    display: flex;
}

#panel #main-panel #dashboard #availableFlights .sub-panels  {
    
}

#panel #main-panel #dashboard #availableFlights #left {
    width: 50%;
}

#panel #main-panel #dashboard #availableFlights #right {
    width: 50%;
}

#panel #main-panel #dashboard #availableFlights #right .row {
    /* align-items: flex-start; */
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px;
    /* position: relative; */
}

#panel #main-panel #dashboard #availableFlights #right .row div {
    margin: 0px 5px;
    position: relative;
}

#panel #main-panel #dashboard #availableFlights #right .row label {
    margin: 0px 5px;
}

#panel #main-panel #dashboard #newFlights {
    /* width: 100%; */
    opacity: 0;
    animation: show2 0.5s ease-in-out 1.5s forwards;
}

#panel #main-panel #dashboard #newFlights .row div {
    margin: 0px 5px;
    position: relative;
}

#panel #main-panel #dashboard #newFlights .row label {
    margin: 0px 5px;
}