<div id="sidebar">
    <div id="sidebar-hidden">
        <h3>Hey, {{ username }}</h3>
        <nav>
            <ul>
                <li ><a href="{% url "Panel" "dashboard" %}">Dashboard</a></li>
                <li class="heading">Member Area</li>
                <!-- <li class="active">Add New Staff</li> -->
                {% comment %} <li ><a href="pNewStaff.html">Add New Staff</a></li> {% endcomment %}
                <li ><a href="{% url "NewStaff" %}">Add New Staff</a></li>
                <li><a href="{% url "ManageStaff" %}">Manage Staff</a></li>
                <li class="heading">Flight Area</li>
                <li><a href="{% url "NewFlights" %}">Add New Flights</a></li>
                <li><a href="{% url "UpdateFlights" %}">Update Flights</a></li>
                <li><a href="pManageBookings.html">Manage Bookings</a></li>
            </ul>
        </nav>
    </div>
    <div id="sidebar-visible">
        <i class="fa fa-bars" id="sidebar-menu"></i>
        <a href="{% url "UserLogout" %}"><i class="fa fa-sign-out"></i></a>
    </div>
</div>