<div id="newStaff">
    <div class="sub-panels">
        <h2>Update Staff Details</h2>
        <div class="tiles">
            {% for p in person %}
            <form action="{% url "" %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="column">
                        <div>
                            <input type="text" name="fname" id="fname" value="{{ p.Name }}">
                            <label for="fname" id="fnameLabel">Full Name</label>
                        </div>

                        <div>
                            <input type="text" name="uname" id="uname" value="{{ p.Username }}">
                            <label for="uname" id="unameLabel">Username</label>
                        </div>

                        <div>
                            <input type="email" name="email" id="email" value="{{ p.Email }}">
                            <label for="email" id="emailLabel">Email Address</label>
                        </div>

                        <div>
                            <input type="password" name="password" id="password" value="{{ p.Password }}">
                            <label for="password" id="passwordLabel">Password</label>
                        </div>
                    </div>

                    <div class="column">   
                        <div>
                            <input type="date" name="dob" id="dob" value="{{ p.DOB }}">
                            <label for="dob" id="dobLabel">DOB</label>
                        </div>

                        <div>
                            <input type="text" name="address" id="address" value="{{ p.Address }}">
                            <label for="address" id="addressLabel">Address</label>
                        </div>

                        <div>
                            <select name="shift" id="shift">
                                {% if p.Shift == "Morning Shift" %}
                                    <option value="Morning Shift" selected>Morning Shift</option>
                                    <option value="Night Shift">Night Shift</option>
                                {% elif p.Shift == "Night Shift" %}
                                    <option value="Morning Shift">Morning Shift</option>
                                    <option value="Night Shift" selected>Night Shift</option>
                                {% endif %}
                            </select>
                            <label for="shift" id="shiftLabel">Shift</label>
                        </div>
                    </div>
                </div>
                <input type="submit" name="updateBtn" id="updateBtn" class="btn" value="Update">
            </form>
            {% endfor %}
        </div>
    </div>
</div>